{{>layout/header}}
<nav class="z-0 relative" x-data="{open:false,menu:false, lokasi:false}">
    <div class="relative z-10 bg-yellow-300 shadow">
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="flex items-center px-2 lg:px-0">
                    <a class="flex-shrink-0" href="#">
                        <img class="block lg:hidden h-12 w-16" src="/images/podoclub2.png" alt="Logo">
                        <img class="hidden lg:block h-12 w-auto" src="/images/podoclub2.png" alt="Logo">
                    </a>
                    <div class="hidden lg:block lg:ml-2">
                        <div class="flex">
                            <a href="/" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-800 font-semibold hover:bg-yellow-500 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700"> 포도클럽 </a>
                            <a href="/posts/save" role="button" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-800 font-semibold hover:bg-yellow-500 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700">글 등록</a>
                            {{#userName}}
                                <span id="user" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-800 font-semibold hover:bg-yellow-500 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700">{{userName}}</span>
                                <a href="/logout" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-800 font-semibold hover:bg-yellow-500 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700" role="button">Logout</a>
                            {{/userName}}
                            {{^userName}}
                            {{/userName}}
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
                    <div class="max-w-lg w-full lg:max-w-xs">
                        <label for="search" class="sr-only">Search </label>
                        <form methode="get" action="#" class="relative z-50">
                            <button type="submit" id="searchsubmit" class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <input type="text" name="s" id="s" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-yellow-200 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="flex lg:hidden">
                    <button @click="menu=!menu" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div x-show="menu" class="block md:hidden">
            <div class="px-2 pt-2 pb-3">
                <a href="/" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold font-medium hover:bg-yellow-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"> 포도클럽 </a>
                <a href="/posts/save" role="button" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold font-medium hover:bg-yellow-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">글 등록</a>
                {{#userName}}
                    <span id="user" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold font-medium hover:bg-yellow-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">{{userName}}</span>
                    <a href="/logout" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold font-medium hover:bg-yellow-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                {{/userName}}
            </div>
        </div>
    </div>
</nav>

<!-- Header - set the background image for the header in the line below-->
<header class="bg-cover bg-center h-64 flex items-center justify-center" style="background-image: url('/images/podoclub1.jpg')">
    <div class="flex flex-col">
        <h1 class="text-white text-xl font-bold mb-4">포도클럽</h1>
        <h1 class="text-white text-center">Ver 1.0</h1>
    </div>
</header>

<div class="py-10 text-center mx-8">
    <h2 class="text-lg font-bold mb-4">포도클럽?</h2>
    <p class="lead">포도클럽은 포도 알맹이들이 하나의 줄기에서 자라는 것처럼, 우리들도 결국엔 하나에 같은 뿌리를 갖고 있다는 운명 공동체임을 믿는 클럽입니다.</p>
    <p class="">우리는 동물적 감각과 이성적 감각을 동시에 지니는 인간 입니다. 우리들은 자라온 환경과 배경, 성별, 언어, 피부색이 달라도 인간이라는점 에서 공통 입니다.</p>
</div>




<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                <tr class="font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3">제목</th>
                    <th class="px-4 py-3 w-1/3">내용</th>
                    <th class="px-4 py-3">작성자</th>
                    <th class="px-4 py-3">날짜</th>
                </tr>
                </thead>
                <tbody class="bg-white">

                {{#posts}}
                <tr class="text-gray-700 text-xs md:text-sm">
                    <td class="px-4 py-3 border">
                        <div class="flex items-center text-sm">
                            <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                                <img class="object-cover w-full h-full rounded-full" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                            </div>
                            <div>
                                <a href="/posts/{{id}}" class="font-semibold text-black leading-tight">{{title}}</a>
                                <p class="text-gray-600">시민</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-4 py-3 border leading-tight">{{content}}</td>
                    <td class="px-4 py-3 border">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">{{author}}</span>
                    </td>
                    <td class="px-4 py-3 border">{{modifiedDate}}</td>
                </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>
</section>

{{>layout/footer}}