{{>layout/header}}

<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
        <div class="text-center text-lg">게시글 등록</div>
        <form>
            <div class="mb-5">
                <label
                        for="title"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                >
                    제목
                </label>
                <input
                        type="text"
                        name="name"
                        id="title"
                        placeholder="제목"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
            </div>
            <div class="mb-5">
                <label
                        for="author"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                >
                    작성자
                </label>
                <input
                        type="email"
                        name="email"
                        id="author"
                        value={{user-email}}
                        placeholder="작성자를 입력하세요"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        readonly
                />
            </div>
            <div class="mb-5">
                <label
                        for="content"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                >
                    Message
                </label>
                <textarea
                        rows="4"
                        name="message"
                        id="content"
                        placeholder="내용"
                        class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                ></textarea>
            </div>
        </form>
        <div class="space-x-4">
            <a href="/" role="button" class="hover:shadow-form rounded-md bg-[#6A64F1] py-4 px-8 text-base font-semibold text-white outline-none"
            >
                취소
            </a>
            <button
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-4 px-8 text-base font-semibold text-white outline-none"
                    id="btn-save"
            >
                등록
            </button>
        </div>
    </div>
</div>

{{>layout/footer}}