{{>layout/header}}

<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
        <div class="text-center text-lg">게시글 수정</div>
        <form>
            <div class="mb-5">
                <label for="id" class="mb-3 block text-base font-medium text-[#07074D]">
                    글 번호
                </label>
                <input type="text" name="id" id="id" value={{post.id}} class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" readonly />
            </div>
            <div class="mb-5">
                <label for="title" class="mb-3 block text-base font-medium text-[#07074D]">
                    제목
                </label>
                <input type="text" name="title" id="title" value={{post.title}} class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="author" class="mb-3 block text-base font-medium text-[#07074D]">
                    작성자
                </label>
                <input type="text" name="author" id="author" value={{post.author}} class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" readonly />
            </div>
            <div class="mb-5">
                <label for="content" class="mb-3 block text-base font-medium text-[#07074D]">
                    내용
                </label>
                <textarea
                        rows="4"
                        class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        id="content"
                >{{post.content}}
                </textarea>
            </div>
        </form>
        <a href="/" role="button" class="hover:shadow-form rounded-md bg-[#6A64F1] py-2 px-4 text-base font-semibold text-white outline-none">취소</a>
        <a role="button" class="hover:shadow-form rounded-md bg-[#6A64F1] py-2 px-4 text-base font-semibold text-white outline-none" id="btn-update">수정 완료</a>
        <a role="button" class="hover:shadow-form rounded-md bg-[#6A64F1] py-2 px-4 text-base font-semibold text-white outline-none mt-20 md:mt-0" id="btn-delete">삭제</a>
    </div>
</div>

{{>layout/footer}}